@page "/movies/delete"
@rendermode InteractiveServer
@using Abc.Data
@using Abc.Infra
@inject IMoviesRepo repo
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Movie</h2>
    <hr />
    @if (movie is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <MyEntityViewer Entity="movie" />
        <EditForm method="post" Model="movie" OnValidSubmit="DeleteMovie" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(movie is null)">Delete</button> |
            <a href="/movies">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Movie movie;

    [SupplyParameterFromQuery] private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        movie = await repo.GetAsync(Id);
        if (movie is null) NavigationManager.NavigateTo("/movies");
    }

    private async Task DeleteMovie()
    {
        await repo.DeleteAsync(movie.Id);
        NavigationManager.NavigateTo("/movies");
    }
}
