@page "/movies/details"
@rendermode InteractiveServer
@using Abc.Data
@using Abc.Infra
@inject IMoviesRepo repo
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>movie</h2>
    <hr />
    @if (movie is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <MyEntityViewer Entity="movie"/>
        <div>
            <a href="@($"/movies/edit?id={movie.Id}")">Edit</a> |
            <a href="@($"/movies")">Back to List</a>
        </div>
    }
</div>

@code {
    private Movie movie;

    [SupplyParameterFromQuery] private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        movie = await repo.GetAsync(Id);
        if (movie is null) NavigationManager.NavigateTo("/movies");
        
    }
}
