@page "/movies/edit"
@rendermode InteractiveServer
@using Abc.Data
@using Abc.Infra
@inject IMoviesRepo repo
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Movie</h2>
<hr />
@if (movie is not null)
{
    <div class="row">
        <div class="col-md-4">
        <EditForm method="post" Model="movie" OnValidSubmit="UpdateMovie" FormName="edit" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary role="alert"/>
            <input type="hidden" name="Movie.Id" value="@movie.Id" />

            <MyPropertyEditor TValue="string" Id="title" Label="Title" 
                        @bind-Value="movie.Name" />

                <MyPropertyEditor TValue="DateTime" Id="releasedate" Label="Release Date"
                        @bind-Value="movie.ValidFrom" />

                <MyPropertyEditor TValue="string" Id="genre" Label="Genre"
                        @bind-Value="movie.Genre" />



            <button type="submit" class="btn btn-primary">Save</button>

            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/movies">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery] private Guid Id { get; set; }

    [SupplyParameterFromForm] private Movie movie { get; set; }

    protected override async Task OnInitializedAsync()
    {
        movie ??= await repo.GetAsync(Id);
        if (movie is null) NavigationManager.NotFound();
        
    }

    private async Task UpdateMovie()
    {
        await repo.UpdateAsync(movie!);
        NavigationManager.NavigateTo("/movies");
    }

}        