@page "/movies"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.QuickGrid
@using Abc.Data
@using System.Linq
@using Abc.Infra
@inject NavigationManager NavigationManager
@inject IMoviesRepo repo

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">Create New</a>
</p>

    <QuickGrid Class="table" Items="Movies">
        <PropertyColumn Property="movie => movie.Name"/>
        <PropertyColumn Property="movie => movie.ValidFrom" />
        <PropertyColumn Property="movie => movie.Genre"/>

        <TemplateColumn Context="movie">
            <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
            <a href="@($"movies/details?id={movie.Id}")">Details</a> |
            <a href="@($"movies/delete?id={movie.Id}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>

@code {
    private IQueryable<Movie> Movies =Enumerable.Empty<Movie>().AsQueryable();
    
    protected override async Task OnInitializedAsync()
    {
        if (repo is null) return;
        Movies = (await repo.GetAsync()).AsQueryable();
    }
}
